# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongod1_logpath }} 

# Where and how to store data.
storage:
  dbPath: {{ mongod1_dbpath }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: {{ mongod1_pidpath }}  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: {{ bind_port_mongod1 }} 
  bindIp: 127.0.0.1  # Listen to local interface only, comment to listen on all interfaces.


#security:

#operationProfiling:

#replication:
replication.oplogSizeMB: 50
replication.replSetName: {{ mongod_replicaset_name }} 

#sharding:
sharding.clusterRole: shardsvr

## Enterprise-Only Options

#auditLog:

#snmp:
